/* line 1, ../server/scss/init/_normalize.scss */
html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, cite, code, em, img, ins,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 20, ../server/scss/init/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, ../server/scss/init/_normalize.scss */
body {
  line-height: 1.5;
}

/* line 27, ../server/scss/init/_normalize.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../server/scss/init/_normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../server/scss/init/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../server/scss/_base.scss */
h1 {
  font-size: 32px;
  color: #ffff00;
}
